// COLORS
////////////////////////////////////////////////////////////////////////////////

// SOLSTICE MOBILE BRAND COLORS

// Main Shade
$red:          #db3939; // RGB: 219, 57, 57
$orange:       #f26b31; // RGB: 242, 107, 49
$light-orange: #f6a225; // RGB: 246, 162, 37
$yellow:       #f7ce3c; // RGB: 247, 206, 60
$blue:         #8ecddb; // RGB: 142, 205, 219
$dark-blue:    #2d4b5b; // RGB: 45, 75, 91

